table {
	width:100%;
}
tr {
	height:30px;
}
td {
	text-align: left;
}
.thumbnail {
	margin: 0 10px 0 10px;
	float: left;
}
div.thumbnail>img {
	width: 100px;
	height: 100px;
	margin-top: 12px;
}
.title {
	font-size: 1.15em;
	margin: 10px 0;
	font-weight: bold;
	text-overflow: ellipsis;
    display: inline-block;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow:hidden;
}
.content {
	
	margin: 8px 0;
	color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    height: 40px;
    font-size: 15px;
}
.like{
	font-size: 0.9em;
	margin-left:10px;
}
.shopping{
	color: #AF9200;
}
.food{
	color: #C7773E
}
.thunder{
	color: #CC0018
}

.searchDiv {
    position:absolute;
    padding-left:10px;
    border-radius: 20px;
    border: none;
    background-color: #e9e9e9;
    color: #444;
    left: 50%;
    transform: translateX(-90px);
    width:180px;
    height:20px;
}
.searchInput {
    background-color: transparent;
    border: none;
    float: left;
    width: 130px;
    margin-top:2px;
}
.searchInput:hover,
.searchInput:focus{
    outline:none;
    background-color: transparent;
}

.searchButton {
    height:15px;
    z-index:2;
    margin: 3px 8px;
    
}

.special {
    font-size: 1.2em;
    font-weight: bold;
    text-overflow: ellipsis;
    display: inline-block;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow:hidden;
}
.plain {
    font-size: 0.9em;
    font-weight: normal;
}

.btype0 {
    color: #AF9200;
}

.btype1 {
    color: #C7773E;
}

.btype2 {
    color: #CC0018;
}