.color .red    {background: #fa5a5a;}
.color .yellow {background: #f0d264;}
.color .green  {background: #82c8a0;}
.color .cyan   {background: #7fccde;}
.color .blue   {background: #6698cb;}
.color .purple {background: #cb99c5;}
body {
    overflow: hidden;
}

header, footer, #bodyWrapper {
	text-align: center;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
}

header {
	top:0;
	height: 30px ;
	padding-top: 10px;
	font-size: 15px;
	box-shadow: 0 2px 5px #CCC;
}
footer {
	bottom:0;
	height: 60px;
	background-color: #F0BBBB ;
	display: table;
	box-shadow: 0 -2px 5px #CCC;
}
#bodyWrapper {
    position: static;
	top: 40px;
	bottom: 60px;
	height: 85vh;
	margin-top: 34px;
	z-index: -1;
	overflow: auto;
}
.naviMenu {
	display: table-cell;
	vertical-align: middle;
	font-size: 13px;
	opacity:0.4;
}
.naviMenu.selected {
	opacity:1;
	font-weight:bold;
}
.naviMenu>img{
	width: 30px;
}
.title_j{
	background-color: #F0E4BB ;
}
.title_m{
	background-color: #FFC398 ;
}
.title_b{
	background-color: #FFA1A1 ;
}
.title_n{
	background-color: #F3F3F3 ;
}
button{
	position: absolute;
	bottom:70px;
	right: 10px;
	width: 45px;
	height: 45px;
	border-radius: 45px;
	border: none;
	outline: none;
	font-size: 25px;
	color: rgb(0, 0, 0, 0.5);
}

.none{
    display:none;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}
/*Generic*/
.wrapper{
    margin: 60px auto;
    text-align: center;
}
h1{
    margin-bottom: 1.25em;
}

/*Specific styling*/
#content{
    padding: 15px;
    border: solid 1px #eee;
    max-width: 660px;
    margin: auto;
    border-radius: 4px;
}

.my_pages{
    background-color: #F3F3F3;
    height : 250px;
    padding: 0 20px;
    margin: 20px;
}

.my_pages li{
    padding: 0;
    margin : 0;
    margin-bottom: 20px;
    list-style-type: none;
    bottom: 20px;
    text-align: left; 
}

.hidden {
    height:100%; 
    min-height:100%; 
    overflow:hidden !important;
    ouch-action:none;
}

.logout{
    background-color: #F0BBBB;
    width: 80px;
    border-radius: 20px;
    padding-left: 15px;
    display: inline-block;
    margin-left: 10px;
    line-height:1.5;
}

#pagination {
    background: #eee;
    width: 80%;
    margin: auto;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
}

#my_pages {
    list-style:none; 
    padding:0;
}

#my_pages>li {
    margin: 10px 0;
}
.pageButton {
    width:30px;
    height:30px;
    border-radius: 20px;
    background:#F0BBBB;
    color: #fff;
    text-align: center;
    margin-right:10px;
    margin-top:10px;
    line-height:2;
}