.color .red    {background: #fa5a5a;}
.color .yellow {background: #f0d264;}
.color .green  {background: #82c8a0;}
.color .cyan   {background: #7fccde;}
.color .blue   {background: #6698cb;}
.color .purple {background: #cb99c5;}

iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

header, footer, #bodyWrapper {
	text-align: center;
	width: 100%;
	position: absolute;
	display: table; 
	left: 0;
	right: 0;
}

header {
	height:20%;
	font-size: 40px;
	overflow: hidden;
}

#greeting {
	display: table-cell; 
	vertical-align: middle
}
#bodyWrapper {
	top: 20%;
	height:70%;
	display: table;
	background : #eaedf1;
}

#bodyWrapper>button {
	margin: 0 auto;
}

footer {
	bottom: 0;
	font-size:10px;
	height: 10%;
	display: table;
}
footer>div{
	display: table-cell;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

@media ( max-width: 768px ) {

}

